<div class="container">
  <div class="row">
    <div id="quiz" class="span8">
      <% if (!this.isEnrolled()) { %>
        <div class="alert">
          Please enroll in the course to take the quiz.
        </div>
      <% } %>
      <h1><%- this.quiz.get('title') %></h1>
      <hr />
      <form>
        <ol>
          <% for (var i = 0; i < this.quiz.get('problems').length; i++) { %>
          <li>
            <fieldset class="quiz-answer">
              <label><%- this.quiz.get('problems')[i].question %></label>
              <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "A" /> <span>A</span>
              <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "B" /> <span>B</span>
              <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "C" /> <span>C</span>
              <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "D" /> <span>D</span>
            </fieldset>
          </li>
          <% } %>
        </ol>
        <button type="button" id="submit-quiz" class="eduki-button-primary pull-right" data-placement="left" data-trigger="manual" data-toggle="popover"><span>Submit</span></button>
      </form>
    </div>
  </div>
</div>