<fieldset class="create-quiz-problem">
  <div class="control-group">
    <label class="control-label" data-placement="right" data-trigger="manual" data-toggle="popover">Problem</label>
    <div class="controls">
      <textarea class="create-quiz-question" id="problem-<%- this.count %>" type="text" placeholder="Enter a quiz problem" />
    </div>
  </div>
  <div class="control-group create-quiz-answer">
    <label class="control-label" data-placement="right" data-trigger="manual" data-toggle="popover">Answer</label>
    <div class="controls">
      <input type="radio" name="problem-<%- this.count %>" value = "A" /> <span>A</span>
      <input type="radio" name="problem-<%- this.count %>" value = "B" /> <span>B</span>
      <input type="radio" name="problem-<%- this.count %>" value = "C" /> <span>C</span>
      <input type="radio" name="problem-<%- this.count %>" value = "D" /> <span>D</span>
    </div>
  </div>
  <button type="button" class="create-quiz-delete eduki-button-icon" data-placement="right" data-trigger="manual" data-toggle="popover"></button>
</fieldset>
