<div class="row">
  <div id="quiz" class="span8">
    <% if (!this.isEnrolled()) { %>
      <div class="alert">
        Please enroll in the course to take the quiz.
      </div>
    <% } %>
    <h1><%- this.quiz.get('title') %></h1>
    <% if (this.ownership) { %>
      <div id="quiz-ownership-actions">
        <button id="quiz-ownership-delete" title="delete" class="content-delete eduki-button-icon"></button>
        <a id="quiz-ownership-edit" class="eduki-button-icon" href="/#/courses/<%- this.course.get('id') %>/quizzes/<%- this.quiz.get('id')  %>/edit" title="edit"></a>
      </div>
    <% } %>
    <hr />
    <form>
      <ol>
        <% for (var i = 0; i < this.quiz.get('problems').length; i++) { %>
        <li>
          <p><%= this.quiz.get('problems')[i].question_markdown %></p>
          <fieldset class="quiz-answer">
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "A" /> <span>A</span>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "B" /> <span>B</span>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "C" /> <span>C</span>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "D" /> <span>D</span>
          </fieldset>
        </li>
        <% } %>
      </ol>
      <button type="button" id="submit-quiz" class="eduki-button-primary pull-right" data-placement="left" data-trigger="manual" data-toggle="popover"><span>Submit</span></button>
    </form>
  </div>
  <ul id="quizzes" class="span4">
    <li id="course-home" class="listing-line listing-course">
      <a href="/#/courses/<%- this.quiz.get('course_id') %>" title="Course Home"><span>Course Home</span></a>
    </li>
    <% for (var i = 0; i < this.quizzes.size(); i++) { %>
    <% if (this.quizzes.models[i].get('id') == this.quiz.get('id')) { %>
    <li id="current-quiz" class="listing-line listing-quiz">
    <% } else { %>
    <li class="listing-line listing-quiz">
    <% } %>
      <a href="/#/courses/<%- this.quizzes.models[i].get('course_id') %>/quizzes/<%- this.quizzes.models[i].get('id') %>" title="<%- this.quizzes.models[i].get('title') %>"><span><%- this.quizzes.models[i].get('title') %></span></a>
    </li>
    <% } %>
  </ul>
