<div class="container">
  <div class="row">
    <div id="quiz" class="span8">
      <h1><%- this.quiz.get('title') %></h1>
      <hr />
      <form>
        <ol>
          <% for (var i = 0; i < this.quiz.get('problems').length; i++) { %>
          <li>
          <fieldset class="quiz-answer">
            <label><%- this.quiz.get('problems')[i].question %></label>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "A" /> <span>A</span>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "B" /> <span>B</span>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "C" /> <span>C</span>
            <input type="radio" name="problem-<%- this.quiz.get('problems')[i].id %>" value = "D" /> <span>D</span>
          </fieldset>
          </li>
          <% } %>
        </ol>
        <button type="button" class="eduki-button-primary"><span>Submit</span></button>
        <button type="reset" class="eduki-button-primary"><span>Reset</span></button>
      </form>
    </div>
    <ul id="quizzes" class="span4">
      <li id="course-home" class="listing-line listing-course">
      <a href="/#/courses/<%- this.quiz.get('course_id') %>" title="Course Home"><span>Course Home</span></a>
      </li>
      <% for (var i = 0; i < this.quizzes.size(); i++) { %>
      <% if (this.quizzes.models[i].get('id') == this.quiz.get('id')) { %>
      <li id="current-quiz" class="listing-line listing-quiz">
      <% } else { %>
      <li class="listing-line listing-quiz">
      <% } %>
      <a href="/#/courses/<%- this.quizzes.models[i].get('course_id') %>/quizzes/<%- this.quizzes.models[i].get('id') %>" title="<%- this.quizzes.models[i].get('title') %>"><span><%- this.quizzes.models[i].get('title') %></span></a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
