<div class="container">
  <div class="row">
    <div id="lesson" class="span8">
      <h1><%- this.lesson.get('title') %></h1>
      <hr />
      <div id="lesson-body"><%= this.lesson.get('body_markdown') %></div>
    </div>
    <ul id="lessons" class="span4">
      <li id="course-home" class="listing-line listing-course">
        <a href="/#/courses/<%- this.lesson.get('course_id') %>" title="Course Home"><span>Course Home</span></a>
      </li>
      <% for (var i = 0; i < this.lessons.size(); i++) { %>
        <% if (this.lessons.models[i].get('id') == this.lesson.get('id')) { %>
          <li id="current-lesson" class="listing-line listing-lesson">
        <% } else { %>
          <li class="listing-line listing-lesson">
        <% } %>
        <a href="/#/courses/<%- this.lessons.models[i].get('course_id') %>/lessons/<%- this.lessons.models[i].get('id') %>" title="<%- this.lessons.models[i].get('title') %>"><span><%- this.lessons.models[i].get('title') %></span></a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
