<div id="enrolled-courses">
  <% if (this.enrollments.size() <= 0) { %>
    <h2>You are currently not enrolled in any courses.</h2>
  <% } else { %>
    <h2>Enrolled Courses</h2>
    <div id="enrolled-courses-list">
      <div class="row">
      <% for (var i = 0; i < this.courses.size(); i++) { %>
          <div class="listing-square listing-enrolled-course">
            <a id="listing-<%- i % 6 %>"class="span2" href="/#/courses/<%- this.courses.models[i].get('id') %>" title="<%- this.courses.models[i].get('title') %>"><span><%- this.courses.models[i].get('title') %></span></a>
            <div class="enrolled-course-overlay">
              <div class="icon-container">
                <a class="eduki-button-icon course-home" href="/#/courses/<%- this.courses.models[i].get('id') %>"></a>
                <a class="eduki-button-icon quiz-attempts" href="/#/courses/<%- this.courses.models[i].get('id') %>/quizattempts/"></a>
              </div>
            </div>
          </div>
        <% if ((i+1) % 6 == 0 && (i+1) < this.courses.size()) { %>
      </div>
      <div class="row">
        <% } %>
      <% } %>
    </div>
    <% } %>
</div>


