<div id="course" class="container">
  <div class="row">
    <div class="span10">
      <% if (currentUser.authenticated) { %>
        <button class="eduki-button-icon" id="enroll"></button>
      <% } %>
      <h1><%- this.course.get('title') %></h1>
      <% if (this.course.get('description') != null) { %>
        <p id="course-description"><%- this.course.get('description') %></p>
      <% } %>
    </div>
    <hr />
  </div>
  <div class="row">
    <div id="course-lessons" class="span6">
      <h2>
        Lessons
        <a class="eduki-button-icon" id="lesson-create" href="/#/courses/<%- this.course.get('id') %>/lessons/new" title="New Lesson"></a>
      </h2>
      <ul>
      <% for(var i = 0; i < this.lessons.size(); i++) { %>
        <li class="listing-line listing-lesson">
          <a href="/#/courses/<%- this.lessons.models[i].get('course_id') %>/lessons/<%- this.lessons.models[i].get('id') %>" title="<%- this.lessons.models[i].get('title') %>"><span><%- this.lessons.models[i].get('title') %></span></a>
          <% if (this.ownership) { %>
          <div class="ownership-actions">
            <a class="eduki-button-icon ownership-edit" href="/#/courses/<%- this.lessons.models[i].get('course_id') %>/lessons/<%- this.lessons.models[i].get('id') %>/edit" title="edit"></a>
            <button title="delete" class="ownership-delete eduki-button-icon"></button>
          </div>
          <% } %>
        </li>
      <% } %>
      </ul>
    </div>
    <div id="course-quizzes" class="span6">
      <h2>
        Quizzes
        <a class="eduki-button-icon" id="quiz-create" href="/#/courses/<%- this.course.get('id') %>/quizzes/new" title="New Lesson"></a>
      </h2>
      <ul>
        <% for(var i = 0; i < this.quizzes.size(); i++) { %>
          <li class="listing-line listing-quiz">
          <a href="/#/courses/<%- this.quizzes.models[i].get('course_id') %>/quizzes/<%- this.quizzes.models[i].get('id') %>" title="<%- this.quizzes.models[i].get('title') %>"><span><%- this.quizzes.models[i].get('title') %></span></a>
          <% if (this.ownership) { %>
            <div class="ownership-actions">
              <a class="eduki-button-icon ownership-edit" href="/#/courses/<%- this.lessons.models[i].get('course_id') %>/lessons/<%- this.lessons.models[i].get('id') %>/edit" title="edit"></a>
              <button title="delete" class="ownership-delete eduki-button-icon"></button>
            </div>
          <% } %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
