<!DOCTYPE html>
<html>
  <head>
    <title>eduki</title>
    <%= stylesheet_link_tag "bootstrap.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "underscore-min.js" %>
    <%= javascript_include_tag "backbone-min.js" %>
    <%= javascript_include_tag "index.js" %>
  </head>
  <body>
    <div class="page-header">
        <h1>eduki <small>start learning now</small></h1>
    </div>
