<%= render "shared/header" %>
<%= link_to "Create Lesson", :controller => "static", :action => :create_lesson %>
    <p>Demonstrating that our ruby works. 1+1 = <%= 1+1 %> </p>
    <p>See Source for this file at<a href="https://github.com/Eduki/eduki/blob/master/app/views/static/index.html.erb">
      https://github.com/Eduki/eduki/blob/master/app/views/static/index.html.erb</a>
    </p>

    <p>See demonstration for Database at <%= link_to 'API', :controller => 'api/stub', :action => 'index'%>

<%= render "shared/footer" %>
